*{
    margin: 0;
    padding: 0;
}
body{
    background: #10abe9;;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.caja{
    display: flex;
    flex-direction: row;
    background-color: grey;
}
.container{
    width: 500px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    padding-left: 750px;
    align-items: center;
}

header{
    background: #03A9F4;
    width: 100%;
}

.item1{
    background-color: yellowgreen;
    width: 120px;
    height: 30px;
    border-radius: 50px;
    box-sizing: border-box;
    padding-left: 40px;
    padding-top: 5px;
    
}

.item2{
    background-color: yellowgreen;
    width: 120px;
    height: 30px;
    border-radius: 50px;
    box-sizing: border-box;
    padding-left:30px;
    padding-top: 5px;
}
.item3{
    background-color: yellowgreen;
    width: 120px;
    height: 30px;
    border-radius: 50px;
    box-sizing: border-box;
    padding-left:40px;
    padding-top: 5px;
}
.item4{
    background-color: yellowgreen;
    width: 120px;
    height: 30px;
    border-radius: 50px;
    box-sizing: border-box;
    padding-left:20px;
    padding-top: 5px;
}

a{
    text-decoration: none;
    text-align: center;
}
.data_caja{
width: 600px;
height: 100px;
margin: 0 auto;
border: 3px solid black;
border-radius: 30px;
padding:30px ;
padding-top:5px ;
margin-top: 30px;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
background-color: green;
}

.fotoPerrito{
    text-align: center;
    margin-top: 20px;
}

.c1{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}

.texto{
    
    width:400px;
    height:200px;
    padding-top: 10px;
    margin-right: 150px ;
    text-align: center;
    border: 3px solid black;
    background-color: aqua;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.caja3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
