
body{
    background-color: red;
    
}


/*margin:0 auto centra horizontal*/

    .cuadrado {
        width: 100px; 
        height: 100px; 
        background: #428bca;
}

.contenedor{
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    Align-items: center;
}
