
body{
    background-color: red;
}


/*margin:0 auto centra horizontal*/

    .cuadrado {
        width: 100px; 
        height: 100px; 
        background: #428bca;
}

.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}
